html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.wrapper{
    border: 5px solid red;
    
}
.top-section{
    display: flex;
}
div{
    border: 3px solid green;
    padding: 20px;
}
.files{
    display: flex;
    flex-flow: row nowrap;    
   justify-content:space-evenly; 
   cursor: pointer;
}
.files:hover{
    background:grey;
}

.header{
    display: flex;
    flex-flow: row nowrap;
    /* padding-left: 50px; */
    justify-content: space-around;
}
p.files{
    justify-content: space-around;
}
div p{
    padding-left: 20px;
}
div label{
    /* padding: 15px 20px; */
    padding-right: 50px;
}
input{
    padding: 20px 20px;
}

button{
    
    background-color: transparent;
    display: flex;
    
}